.myiframe {
  width: 100%;
  border-style: none;
	height:300px;
  padding-left: 3.4rem;
  padding-right: 3.4rem;
}

.myiframe body {
	text-align: center;
}

@media (min-width: 768px) and (max-width: 992px) {
  .myiframe {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .myiframe {
    height: 300px !important;
    padding-left: 3.9rem !important;
    padding-right: 3.9rem !important;
  }
}

@media (min-width: 320px) {
  .myiframe {
    height: 400px !important;
  }
}

@media (min-width: 375px) {
  .myiframe {
    height: 300px !important;
    padding-left: 4.8rem !important;
    padding-right: 4.8rem !important;
  }
}

@media (min-width: 425px) {
  .myiframe {
    height: 300px !important;
    padding-left: 6.4rem !important;
    padding-right: 6.4rem !important;
  }
}

@media (min-width: 576px) {
  iframe.live {
    height: 300px !important;
    padding-left: 10rem !important;
    padding-right: 10rem !important;
  }
}

@media (min-width: 768px) {
  .myiframe {
    height: 400px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 992px) {
  .myiframe {
    height: 300px !important;
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
  }
}

@media (min-width: 1200px) {
  .myiframe {
    height: 300px !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

@media (min-width: 1400px) {
  .myiframe {
    height: 300px !important;
     padding-left: 3.4rem !important;
  	padding-right: 3.4rem !important;
  }
}
